@use "./dark/css-vars.css" as *;
/* 整体布局， 公共class类 */
#app {
  width: 100%;
  height: 100vh;
}

.border-bottom {
  border-bottom: 1px solid var(--el-border-color);
}

.border-right {
  border-right: 1px solid var(--el-border-color);
}

.project-tabs {
  width: 100%;
  height: 100%;
  --el-tabs-header-height: 42px;
}
